// Typography.
$fnt--base            : 62.5% !default;
$fnt--color           : black !default;
$fnt--family          : "Helvetica Neue", Arial, sans-serif !default;
$fnt--height          : 2 !default;
$fnt--size            : 1.6em !default;
$fnt--size--small     : 85% !default;
$fnt--size--xsmall    : 70% !default;
$fnt--size--large     : 115% !default;
$fnt--size--xlarge    : 145% !default;
$fnt--weight          : 300 !default;
$fnt__header--color   : $fnt--color !default;
$fnt__header--family  : $fnt--family !default;
$fnt__header--margin  : 0 0 2rem !default;
$fnt__header--weight  : $fnt--weight !default;
$fnt__highlight--size : .5rem 1rem !default;

// Breakpoints.
$bpt__desktop--large : 1600px !default;
$bpt__desktop--small : 1200px !default;
$bpt__tablet--large  : 1024px !default;
$bpt__tablet--small  : 768px !default;
$bpt__phone--large   : 480px !default;
$bpt__phone--small   : 320px !default;

// Grid.
$grd__breakpoint--mid   : $bpt__tablet--small !default;
$grd__breakpoint--small : $bpt__phone--large !default;
$grd--column            : 12 !default;
$grd--half              : $grd--column / 2;
$grd--gutter            : 1% !default;
$grd--padding           : 1.5rem !default;
$grd__col               : (100% - ($grd--gutter * ($grd--column - 1))) / $grd--column;

// General.
$page__width         : 85%;
$page__width--max    : 1200px;
$gen__border--color  : #c5c5c5 !default;
$gen__object--height : 4rem !default;