/* 4. Embeds.
======================================== */

// Make images somewhat responsive by default.
img {
	height: auto;
	max-width: 100%;
	vertical-align: bottom;
}

// Set base styles for Figures and their Captions.
figure {
	display: inline-block;
	margin: 2rem;
}

figcaption {
	font-size: $fnt--size--small;
	text-align: center;
}

// Set Iframe borders.
iframe { border: 0.1rem solid $gen__border--color; }

// Default Progress Bar size.
progress {
	height: $gen__object--height;
	width: 100%;
}