/* 3. Grid.
======================================== */

// Make the class in which the columns should be nested.
.grd,
.grd__nest {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

// Calculates Grid column widths based on variable inputs.
@for $i from $grd--column through 1 { .grd__col--#{$i} { @include grd__column--calculator($i); } }

div[class*="grd__col--"] {
	flex: 0 0 auto;
	padding: $grd--padding;
	@include bpt($grd__breakpoint--mid) {
		padding: ($grd--padding / 2);
		width: 100%;
	}
}

// Calculates Grid offset sizes based on variable inputs.
@for $o from $grd--column - 1 through 1 { .grd__off--#{$o} { @include grd__offset--calculator($o); } }

div[class*="grd__off--"] { @include bpt($grd__breakpoint--mid) { margin-left: 0; } }

// Grid utility classes.
.grd__col--clear { margin-right: 100%; }
.grd__col--full { width: 100%; }
.grd__col--half { @include grd__column--calculator($grd--half); }
.grd__col--third { @include grd__column--calculator($grd--third); }
.grd__col--quarter { @include grd__column--calculator($grd--quarter); }