/* 9. Utility Classes.
======================================== */

// Wrapper ID and Restrict Class.
#wrapper, .restrict { @include restrictor(); }

// Clearfix.
.cfx { @include clearfix(); }

// Browser Uprgrade Alert.
.browser__alert {
	background: #C30000;
	color: white;
	line-height: 5rem;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 99;
	a {
		color: #00DF57;
		&:hover { border-bottom: 0.1rem dotted; }
	}
}